<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">




        <activity android:name="com.legs.unijet.tabletversion.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.legs.unijet.tabletversion.splashactivity.SplashActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.legs.unijet.tabletversion.LoginActivity" />
        <activity android:name="com.legs.unijet.tabletversion.registerActivity.RegisterActivityStart" />
        <activity android:name="com.legs.unijet.tabletversion.registerActivity.RegStudentActivity" />
        <activity android:name="com.legs.unijet.tabletversion.registerActivity.RegProfActivity" />
        <activity
            android:name="com.legs.unijet.tabletversion.utils.MainActivity"

            android:exported="true"/>
        <activity android:name="com.legs.unijet.tabletversion.createGroupActivity.CreateGroup" />
        <activity android:name="com.legs.unijet.tabletversion.course.CreateCourse" />
        <activity android:name="com.legs.unijet.tabletversion.project.CreateProject" />
        <activity android:name="com.legs.unijet.tabletversion.courseDetailsActivity.AuthorCourseManageActivity" />
        <activity android:name="com.legs.unijet.tabletversion.profile.EditProfile" />
        <activity android:name="com.legs.unijet.tabletversion.groupDetailsActivity.AuthorGroupManageActivity" />
        <activity android:name="com.legs.unijet.tabletversion.createGroupActivity.CreateGroupStart" />
        <activity android:name="com.legs.unijet.tabletversion.post.NewPostActivity" />
        <activity android:name=".groupDetailsActivity.MembersDetailsActivity" />
        <activity android:name="com.legs.unijet.tabletversion.feedback.FeedbackActivity" />
        <activity android:name="com.legs.unijet.tabletversion.feedback.NewFeedbackActivity"/>
        <activity android:name="com.legs.unijet.tabletversion.comment.CommentActivity"/>
        <activity android:name="com.legs.unijet.tabletversion.comment.NewCommentActivity" />
        <activity android:name="com.legs.unijet.tabletversion.Demo" android:exported="true"/>
        <activity android:name="com.legs.unijet.tabletversion.profile.Favourites" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>